* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.side-panel {
  display: none;
}

body {
  font-family: sans-serif;
  padding: 50px;
}
.table-top-setting {
  display: none;
}

.table-header {
  margin: 30px 0 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.table-header span {
  text-align: center;
  width: 33%;
}
.key-td,
.count-td,
.unit-td,
.key-th,
.count-th,
.boxclose {
  display: none;
}
.item {
  display: block;
  position: absolute;
}
.item-content {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.relative-td,
.absolute-td,
.cell {
  flex: 1 1 0;
  text-align: center;
  width: 33%;
  vertical-align: middle;
}

.cell-td {
  width: 100%;
  text-align: center;
}
.relative-td,
.absolute-td {
  height: 100%;
  border-left: 1px solid #000;
  padding-top: 10px;
}

.print-form-header p {
  font-size: 1.1rem;
  font-family: sans-serif;
  border-bottom: 2px solid black;
}
div.line {
  border-bottom: 2px solid black;
  margin-right: 20px;
}

div.container {
  display: inline-block;
  width: 45%;
  margin: 10px 10px 10px 0;
}

.invis-wbc {
  margin-top: 50px;
  font-size: 1.3rem;
}

.cont-span {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 3px;
}

#invis-white-count {
  padding: 0 0.5rem;
}

.nav {
  display: none;
  margin-bottom: 30px;
}

header img {
  display: none;
  opacity: 0;
}

.grid {
  position: relative;
  width: 80%;
  input {
    border: none;
    outline: none;
    color: black;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
  }
  input.key-td {
    display: none;
  }
  input.cell-td {
    font-size: 1rem;
  }
}
.item {
  font-size: 1.3rem;
  width: calc(100% - 2px);
  height: 45px;
  color: black;
  text-align: center;
  margin: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

input[type="checkbox"] {
  display: none;
}

.ignore-header,
.exclude {
  position: absolute;
  opacity: 0;
}
