.arrow {
	width: 13px;
	height: 13px;
	display: inline-block;
	position: relative;
	transition: 0.4s ease;
	text-align: left;
	&:before,
	&:after {
		content: '';
		background-color: transparent;
		width: 3px;
		height: 12px;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		transform: rotate(0);
		transition: 0.4s ease;
		background-color: $blue;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
		left: 7.5px;
	}
}

.active .arrow {
	&:before {
		transform: rotate(-135deg);
	}

	&:after {
		transform: rotate(135deg);
	}
}
