@media (max-width: 800px) {
    .nav-links {
        li a {
            font-size: 0.8rem;
        }
    }
    .visible-container {
        flex-direction: column;
        .wrapper {
            margin: 10px;
            width: 97%;
            padding: 5px;
            .table-top-setting {
                width: 100%;
                button,
                .dropdown {
                    margin: 3px;
                    min-width: calc(50% - 6px);
                }
                .dropdown i {
                    opacity: 1;
                }
                button {
                    padding: 12px;
                }
                .dropdown button {
                    width: 100%;
                    margin: 0;
                }
            }
            .item {
                width: 99%;
            }
            .table-header,
            .item-content,
            input {
                font-size: 0.8rem;
            }
        }
        #right-side-container {
            width: 100%;
            padding: 0;
            .side-panel {
                margin-right: 30px;
                width: 100%;
                max-width: 450px;
                padding: 10px;
            }
        }
    }
}

@media (max-width: 1100px) {
    .wrapper {
        .table-top-setting {
            button,
            .dropdown {
                margin: 3px;
                width: 48%;
                font-size: 0.8rem;
            }
            button {
                padding: 12px;
            }
            .dropdown button {
                width: 100%;
                margin: 0;
                p {
                    text-align: center;
                }
            }
        }
        .table-header,
        .item-content {
            font-size: 0.8rem;
        }
        .key-td,
        .cell-td {
            font-size: 0.8rem !important;
        }
        .cell-td {
            width: 80px !important;
        }
    }
    #right-side-container {
        .side-panel {
            margin: 20px;
            width: 100%;
            max-width: 400px;
            padding: 10px;
        }
    }
}
